<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eStraganik.pl - Twój internetowy stragan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Public/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbarMain">
        <a class="navbar-brand" href="#">eStraganik.pl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
            <form class="d-inline my-2 my-lg-0 w-100 ml-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Czego szukasz?" aria-label="Search">
            </form>

            <ul class="navbar-nav mr-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navarBasket" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Koszyk
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navarBasket">
                        <a class="dropdown-item" href="#">Rower 1</a>
                        <a class="dropdown-item" href="#">Rower 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Kup teraz</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Powiadomienia</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Konto
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Zaloguj</a>
                        <a class="dropdown-item" href="#">Zarejestruj</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Wyloguj</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>

    <div class="container-fluid" id="customContainer">
        <div class="row customRow">
            <div class="col-md customColumn">
                <div id="login-card">
                    <h2 class="medium-header">Zaloguj się</h2>

                    <form id="login-form">
                        <div class="form-group">
                            <label for="email-input">E-mail</label>
                            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
                                placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="password-input">Hasło</label>
                            <input type="password" class="form-control" id="password-input"
                                placeholder="&#8226&#8226&#8226&#8226">
                        </div>

                        <div class="submit-wrapper">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="remember-password-check">
                                <label class="form-check-label" for="remember-password-check">Zapamiętaj hasło</label>
                            </div>
                        </div>
                        <div class="submit-wrapper" id="forgot-password">
                            <a href="#">Zapomniałeś hasła?</a>
                        </div>
                        <div class="submit-wrapper">
                            <button type="submit" class="btn">ZALOGUJ SIĘ</button>
                        </div>
                    </form>
                    
                    <div id="need-account">
                        <p>Potrzebujesz konta?</p>
                    </div>
                </div>
            </div>
            <div class="col-md customColumn">
                REKLAMA HERE
            </div>
        </div>
        <div class="row customRow">
            <div class="col-sm customColumn">
                Row 2 Columna 1
            </div>
        </div>
    </div>
</body>

</html>