html, body {
    height: 100%;
}

body
{
    background-color: #F1F1F1 !important;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}

#navbarMain
{
    background-color: #F36F5C;
}

.navbar-brand
{
    letter-spacing: 7px;
}

.row
{
    margin-left: 3em;
    margin-right: 3em;
}

.customRow
{
    margin-top: 1em;
}

.recommended {
    background-color: white;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.customColumn
{
    margin-left: 1em;
    margin-right: 1em;
    padding: 0px;
    background-color: white;
}

#customContainer {
    flex: 1 0 auto;
}

#recommendedLabel
{
    font-weight: bold;
    margin: 2em;
}

.medium-header {
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 2.5em;
    /* margin: 1em; */
    padding: 0.5em;
    border-bottom: 1px solid #D4D4D4;
}

.card {
    padding: 0.5em;
    color: rgb(73, 73, 73);
    height: 100%;
    border: none;
    box-shadow: -1px 1px 10px 0px #BDC1BF;
}

.wide-card {
    /*margin: 1em;*/
    margin-left: 4em;
    margin-right: 4em;
    height: auto;
}

@media screen and (max-width: 480px) {
    .wide-card {
        margin: 0;
    }

    .card {
        margin: 0;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
    }

    .recommended {
        background-color: white;
        margin-right: 0;
        margin-left: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }
}

#login-form {
    margin: 1em;
    padding: 1.5em;
    font-weight: lighter;
}

.form-control {
    border-color: #DC453A;
}

.form-check input:checked {
    background-color: red;
    color: blue;
}

#forgot-password {
    font-size: 0.9em;
    font-weight: 100;
}

.submit-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    /* letter-spacing: 0.05em; */
}

.btn {
    background-color: #F36F5C;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 1em 2em 1em 2em;
}

.btn:hover {
    color: white;
    background-color: rgb(247, 134, 117);
}

#need-account {
    font-size: 0.9em;
    text-indent: 4em;
    position: relative;
    z-index: 1;
}
#need-account:before {
    border-top: 1px solid #D4D4D4;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

#need-account span { 
    background: #fff; 
    padding: 0 0.8em; 
}

#register-link {
    margin: 1em 2em 1em 2em;
}

#advertisement {
    margin: 7em;
    height: 100%;
    border: 1px solid black;
    padding: 2em;
    text-align: center;
}

#footer {
    flex-shrink: 0;
}

.hyperlink {
    color: #494949;
}

.hyperlink:hover {
    text-decoration: none;
    color: red;
}
