body
{
    background-color: #F1F1F1 !important;
    font-family: 'Ubuntu', sans-serif !important;
}

#navbarMain
{
    background-color: #F36F5C;
}

.navbar-brand
{
    letter-spacing: 7px;
}

.row
{
    margin-left: 5em;
    margin-right: 5em;
}

.customRow
{
    margin-top: 1em;
}

.customColumn
{
    margin-left: 1em;
    margin-right: 1em;
    padding: 0px;
    box-shadow: -1px 1px 10px 0px #BDC1BF;
    background-color: white;
}

#recommendedLabel
{
    font-weight: bold;
    margin: 2em;
}

.medium-header {
    letter-spacing: 10px;
    font-weight: 100;
    /* margin: 1em; */
    padding: 0.5em;
    border-bottom: 1px solid #D4D4D4;
}

#login-card {
    padding: 0.5em;
}

#login-form {
    margin: 1em;
}

.form-control {
    border-color: #DC453A;
}

.form-check input:checked {
    background-color: red;
    color: blue;
}

#forgot-password {
    font-size: 0.9em;
    font-weight: 100;
}

.submit-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    letter-spacing: 0.05em;
}

.btn {
    background-color: #F36F5C;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 1em 2em 1em 2em;
}

.btn:hover {
    color: white;
    background-color: rgb(247, 134, 117);
}